section 
{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 19%;
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(224, 21, 140);
}